<%- include('./partials/head.ejs') %>

<aside class="sidebar"></aside>

<section class="live-score-area">
  <div class="live-score-titles">
    <h2><%= data1.field %></h2>
    <h3> <%= data1.gameStatus %> - <%= data1.division %></h3>
  </div>
  <div class="live-button">
    <h2>Live<span class="live-icon"></span></h2>
  </div>
  <div class="live-score">
    <img src="assets/ultitvlogohome.svg" />
    <h3><%= data2.team1Score %> - <%= data2.team2Score %></h3>
    <img src="assets/ultitvlogoaway.svg" />
  </div>
  <div class="live-score-team-names">
    <h4><%= data2.team1Name %></h4>
    <h4><%= data2.team2Name %></h4>
  </div>
</section>

<section class="score-history">
  <section class="score-history">
    <div class="team-scored-total">
      <div class="team-scored-left">
        <table cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th>Pass</th>
              <th>Turn</th>
              <th>O/D</th>
            </tr>
          </thead>
          <tbody>
            <tr class="score-info-team-1">
              <% data2.scoredPoints.forEach(point => { %>
              <% if (point.scored ===point.team1Name) { %>
            </tr>
              
            <% if (point.team1OorD === "O") { %>
              <tr class="score-info-team-1 dark-green">
                <td><%= point.team1Passes %></td>
                <td><%= point.team1Turnovers %></td>
                <td><%= point.team1OorD %></td>
             </tr>
            <% } else {%>
              <tr class="score-info-team-1 green">
                <td><%= point.team1Passes %></td>
                <td><%= point.team1Turnovers %></td>
                <td><%= point.team1OorD %></td>
              </tr>
            <% } %> 
              
            <% } else { %>
              <% if (point.team1OorD === "D") { %>
              <tr class="score-info-team-1 dark-red">
                <td><%= point.team1Passes %></td>
                <td><%= point.team1Turnovers %></td>
                <td><%= point.team1OorD %></td>
              </tr>
              <% } else {%>
              <tr class="score-info-team-1 red">
                <td><%= point.team1Passes %></td>
                <td><%= point.team1Turnovers %></td>
                <td><%= point.team1OorD %></td>
              </tr>
            <% } %>
           <% } %>
          <% }) %>
          </tbody>
        </table>
      </div>
      <div class="team-scored-right">
        <table cellspacing="0" cellpadding="0">
          <thead>
            <tr>
              <th>Pass</th>
              <th>Turn</th>
              <th>O/D</th>
            </tr>
          </thead>
          <tbody>
            <tr class="score-info-team-2">
              <% data2.scoredPoints.forEach(point => { %>
                <% if (point.scored ===point.team2Name) { %>
              </tr>
                
              <% if (point.team2OorD === "O") { %>
                <tr class="score-info-team-2 dark-green">
                  <td><%= point.team2Passes %></td>
                  <td><%= point.team2Turnovers %></td>
                  <td><%= point.team2OorD %></td>
               </tr>
              <% } else {%>
                <tr class="score-info-team-2 green">
                  <td><%= point.team2Passes %></td>
                  <td><%= point.team2Turnovers %></td>
                  <td><%= point.team2OorD %></td>
                </tr>
              <% } %> 
                
              <% } else { %>
                <% if (point.team2OorD === "D") { %>
                <tr class="score-info-team-2 dark-red">
                  <td><%= point.team2Passes %></td>
                  <td><%= point.team2Turnovers %></td>
                  <td><%= point.team2OorD %></td>
                </tr>
                <% } else {%>
                <tr class="score-info-team-2 red">
                  <td><%= point.team2Passes %></td>
                  <td><%= point.team2Turnovers %></td>
                  <td><%= point.team2OorD %></td>
                </tr>
              <% } %>
             <% } %>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</section>

<section class="players-team-one">
  <h2><%= data1.team1Name %></h2>
  <div class="cards">
    <% data1.team1Players.forEach(players => { %>
    <div class="card-player">
      <div class="bullet">

        <% data2.scoredPoints.forEach(score => { %>
          <% if (players.playerId === score.scoredBy) { %>
            <div class="score-bullet">1</div>
          <% } else { %>
            <div class="score-bullet-no"></div>
          <% } %>
        <% }) %>

        <% data2.scoredPoints.forEach(score => { %>
          <% if (players.playerId === score.assistBy) { %>
            <div class="assist-bullet">1</div>
          <% } else { %>
            <div class="assist-bullet-no"></div>
            <% } %>
          <% }) %>

        <% data2.scoredPoints.forEach(score => { %>
          <% if (players.playerId === score.blockPlayers) { %>
            <div class="block-bullet">1</div>
          <% } else { %>
            <div class="block-bullet-no"></div>
            <% } %>
          <% }) %>

        <% data2.scoredPoints.forEach(score => { %>
          <% if (players.playerId === score.turnoverPlayers) { %>
            <div class="turnover-bullet">1</div>
          <% } else { %>
            <div class="turnover-bullet-no"></div>
             <% } %>
          <% }) %>

        
      </div>
      <p><%= players.jerseyNumber %></p>
      <h4><%= players.name %></h4>
      <% if(players.gender === "M") { %>
      <span id="m"></span>
      <% } else { %>
      <span id="f"></span>
      <% } %>
    </div>
    <% }) %>
  </div>
</section>

<section class="players-team-two">
  <h2><%= data1.team2Name %></h2>
  <div class="cards">
    <% data1.team2Players.forEach(players => { %>
    <div class="card-player">
      <p><%= players.jerseyNumber %></p>
      <h4><%= players.name %></h4>
      <% if(players.gender === "M") { %>
      <span id="m"></span>
      <% } else { %>
      <span id="f"></span>
      <% } %>
    </div>
    <% }) %>
  </div>
</section>

<%- include('./partials/foot.ejs') %>
