<%- include('./partials/head.ejs') %>

<aside class="sidebar"></aside>

<section class="live-score">
  <img src="assets/ultitv-team1-logo.svg" />
  <img src="assets/ultitv-team2-logo.svg" />
</section>
<section class="score-history"></section>

<section class="players-team-one">
  <h2><%= data1.team1Name %></h2>
  <div class="cards">
    <% data1.team1Players.forEach(players => { %>
    <div class="card-player">
      <p><%= players.jerseyNumber %></p>
      <h4><%= players.name %></h4>

      <% if(players.gender === "M") { %>
      <span id="m"></span>
      <% } else { %>
      <span id="f"></span>
      <% } %>
    </div>
    <% }) %>
  </div>
</section>

<section class="players-team-two">
  <h2><%= data1.team2Name %></h2>
  <div class="cards">
    <% data1.team2Players.forEach(players => { %>
    <div class="card-player">
      <p><%= players.jerseyNumber %></p>
      <h4><%= players.name %></h4>

      <% if(players.gender === "M") { %>
      <span id="m"></span>
      <% } else { %>
      <span id="f"></span>
      <% } %>
    </div>
    <% }) %>
  </div>
</section>

<%- include('./partials/foot.ejs') %>
